$theme-blue: rgb(39, 39, 138);

.transactions-list-div {
  margin: 50px auto;

  :global {
    .transactions-list {
      list-style-type: none;
      display: flex;
      border-bottom: 1px solid $theme-blue;
      border-left: 1px solid $theme-blue;
      border-right: 1px solid $theme-blue;
      margin: 0 auto;
      max-width: 60%;
      padding: 0;
      height: 30px;
      line-height: 30px;

      &.header {
        background-color: $theme-blue;
        color: white;
        font-size: 20px;
        line-height: 45px;
        height: 45px;
      }
      .transactions-list-item {
        width: 33.33%;
        text-align: center;
      }
    }

    .transactions-list-row-text {
      margin: 0 auto;
      max-width: 60%;
      text-align: center;
      padding: 10px;
    }
  }
}
